{% extends "web/base.html" %}
{% load static %}
{% block content %}

   

    <h2 class="titulo"> CAPACITACIONES </h2>

    <section class="container__card">
        <div class="card">
            <img src="{% static 'web/assets/taller.jpeg' %}" alt="iconoimage" class="icono-image">
                
                <h2>Taller teórico práctico sobre perspectiva de género</h2>
    
                
            
        </div>
    
        <div class="card">
                <img src="{% static 'web/assets/taller 2.jpeg' %}" alt="iconoimage" class="icono-image">
               
                <h2>Perspectiva de género en la Ejecución Penal</h2>
    
              
    
            
        </div>
    
        <div class="card">
            <img src="{% static 'web/assets/taller3.jpeg' %}" alt="iconoimage" class="icono-image">
                <h2>Reflexión a diez años de los casos Furlán y Fornerón</h2>
         
    
                
           
        </div> 
        <div class="card">
            <img src="{% static 'web/assets/taller4.jpeg'%}" alt="iconoimage" class="icono-image">
                <h2>Control de convencionalidad y obligatoriedad de los Tratados</h2>
         
    
                
           
        </div> 
        {% for post in posts %}
        <div class="card">
            <img src="{{post.imagen.url}}" alt="" class="icono-image">
                <h2>{{post.titulo}}</h2>
                <h2>{{post.contenido}}</h2>
         
    
                
           
        </div>  
          
          
    </section>  
    
    {% endfor %}
    


    <div class="separador2">
        <h2>Nosotras</h2>
    </div> 
    



<div class="separador"></div>




<div class="caja">
    <div class="card2">
        <img src="{% static 'web/assets/veri.jpeg' %}">
            <div class="details">
                <h4>Firma de convenio con la Escuela del Ministerio Público</h4>
                
            </div>
    </div>    

<div class="card3">
    <img src="{% static 'web/assets/personeria.jpeg' %}">
    <div class="details">
        <h4>Entrega de nuestra personería jurídica</h4>
    
    </div>
</div>  

<div class="card4">
    <img src="{% static 'web/assets//WhatsApp Image 2022-09-05 at 20.30.24.jpeg'%}">
    <div class="details">
        <h4>Nuestro consejo directivo</h4>
    
    </div>
</div> 
<div class="card5">
    <img src="{% static 'web/assets//abel cornejo.jpeg' %}">
        <div class="details">
            <h4>Reunion con el Ministro de Seguridad de la Provincia de Salta. Encuentro que trató la cooperación en el marco de las capacitaciones sobre violencia de género a los miembros de las Fuerzas de Seguridad.</h4>
            
        </div>
</div> 

</div>


        

{% endblock %}