{% extends "web/base.html" %}
{% load static %}
{% block content %}


       
        <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSfSUUFIra566Ak8h9j5UMRrdl5L9Hem6MXRJgR6R-iGvRmOWA/viewform?embedded=true" width="640" height="978" frameborder="0" marginheight="0" marginwidth="0">Cargando… </iframe>
        <!-- <h1 class="contacto"> PONETE EN CONTACTO </h1>  
        
            {% if "valido" in request.GET %}
                <p class="correcto">¡Estaremos en contacto!</p>
            {% endif %}
            <form action="" method="POST">{{miFormulario.as_p}}
                {% csrf_token %}
                    
                    
                    <button type="submit" style="margin-top: 10px;">
                    ENVIAR
                    </button>
            </form>
    </div>  
      

        <div class="contact-info">
            
       <img src="{% static 'web/assets/correos-electronicos.png' %}" alt="correo" class="img-correo"> -->
       
       
           


{% endblock %}