{% extends "web/base.html" %}
{% load static %}
{% block content %}

   
<h2 class="titulo" style="margin-bottom:40px; margin: top 50px; margin-right: 90px; margin-left: 90px;"> BIBLIOGRAFÍA Y JURISPRUDENCIA </h2>
<section class="contenedor.jurisp">   
    <div class="separador"></div>
       
        <div class="video">
                <h2 class="h2jurisp">INCIDENTE DE NULIDAD PRESENTADO POR EL DEFENSOR PENAL DE LA UNIDAD DE DEFENSA Nº 3 - RECURSO DE INCONSTITUCIONALIDAD PENAL</h2>
                <br>
                <h3 class="h3-jurisp">Fallo de la Corte Suprema de Justicia de Salta</h3>
                <a href="{% static 'web/assets/000104784.pdf' %}" target="_blank"><button>DESCARGAR</button></a>
        </div>
                <div class="separador"></div>

                <!-- <h2 style="color:#ac2765; margin-right: 90px; margin-left: 90px;">TRIPLE FILACIÓN: BIOLÓGICA, SOCIOAFECTIVA Y LEGAL INSCRIPTA</h2>
                <br>
                <P style="color:#ac2765; margin-right: 90px; margin-left: 90px;">Fallo del Juzgado de Familia y Violencia Familiar de Mendoza</P>
                <a href="{% static 'web/assets/000105028.pdf' %}"><button>DESCARGAR</button></a>
                <div class="separador"></div>

                <h2 style="color:#ac2765; margin-right: 90px; margin-left: 90px;">GONZÁLEZ Y OTRAS ("CAMPO ALGODONERO") VS. MÉXICO</h2>
                <br>
                <P style="color:#ac2765; margin-right: 90px; margin-left: 90px;">Caso ante la Corte Interamericana de Derechos Humanos</P>
                <a href="{% static 'web/assets/campoalgodonero.pdf' %}"><button>DESCARGAR</button></a>
                <div class="separador"></div>

                <h2 style="color:#ac2765; margin-right: 90px; margin-left: 90px;">V.R.P., V.P.C. Y OTROS VS. NICARAGUA</h2>
                <br>
                <P style="color:#ac2765; margin-right: 90px; margin-left: 90px;">Caso de la Corte Interamericana de Derechos Humanos.</P>
                <a href="{% static 'web/assets/caso_VR__c._Nicaragua_CORTE_IDH_ESTADO_SEGUNDO_AGRESOR.doc.pdf' %}"><button>DESCARGAR</button></a>
                <div class="separador"></div>

                <h2 style="color:#ac2765; margin-right: 90px; margin-left: 90px;">PENAL MIGUEL CASTRO CASTRO VS. PERÚ</h2>
                <br>
                <P style="color:#ac2765; margin-right: 90px; margin-left: 90px;">Caso ante la Corte Interamericana de Derechos Humanos.</P>
                <a href="{% static 'web/assets/castrocastro.pdf' %}"><button>DESCARGAR</button></a>
                <div class="separador"></div>

                <h2 style="color:#ac2765; margin-right: 90px; margin-left: 90px;">ESTÁNDARES JURÍDICOS VINCULADOS A LA IGUALDAD DE GÉNERO Y A LOS DERECHOS DE LAS MUJERES EN EL SISTEMA INTERAMERICANO DE DERECHOS HUMANOS: DESARROLLO Y APLICACIÓN</h2>
                <br>
                <P style="color:#ac2765; margin-right: 90px; margin-left: 90px;">Comisión Interamericana de Derechos Humanos.</P>
                <a href="{% static 'web/assets/CIDH.pdf' %}"><button>DESCARGAR</button></a>
                <div class="separador"></div>

                <h2 style="color:#ac2765; margin-right: 90px; margin-left: 90px;">COMPENDIO DE JURISPRUDENCIA CON PERSPECTIVA DE GÉNERO</h2>
                <br>
                <P style="color:#ac2765; margin-right: 90px; margin-left: 90px;">Corte Suprema de Justicia de la Nación - Oficina de la Mujer 2017-2022</P>
                <a href="{% static 'web/assets/Compendio_II_azecoUS.pdf' %}"><button>DESCARGAR</button></a>
                <div class="separador"></div>

                <h2 style="color:#ac2765; margin-right: 90px; margin-left: 90px;">INCIDENCIA DE LA VULNERABILIDAD EN LA OBLIGACIÓN ALIMENTARIA A CARGO DE LOS ABUELOS. IMPORTANCIA DEL "DIÁLOGO DE FUENTES"</h2>
                <br>
                <P style="color:#ac2765; margin-right: 90px; margin-left: 90px;">Comentario a fallo Expte N° 17013/21 - “M., R. G. C/ V., F.; L., S. - ALIMENTOS” - JUZGADO DE PRIMERA INSTANCIA DE PERSONAS Y FAMILIA DE SEGUNDA INSTANCIA DE ORÁN (Salta) - 04/04/2022 (sentencia no firme). Por Gabriela Yuba</P>
                <a href="{% static 'web/assets/DC30A2.pdf' %}"><button>DESCARGAR</button></a>
                <div class="separador"></div>

                <h2 style="color:#ac2765; margin-right: 90px; margin-left: 90px;">FUNDACION EDUCAR s/CONCURSO PREVENTIVO</h2>
                <br>
                <P style="color:#ac2765; margin-right: 90px; margin-left: 90px;">Cámara Nacional de Apelaciones en lo Civil y Comercial Sala F - Dictamen fiscal. SUMARIO: ABUSO SEXUAL - CONCURSO PREVENTIVO - CONSTITUCIONALIDAD - CREDITO CONCURSAL - DERECHOS HUMANOS - INDEMNIZACIÓN - MONEDA EXTRANJERA - OPONIBILIDAD - PERSONA MENOR DE EDAD - VIOLENCIA DE GÉNERO</P>
                <a href="{% static 'web/assets/DICTAMEN_FISCAL_PERSPECTIVA_GENERO_QUIEBRA_PRIVILEGIO_AUTONOMO.pdf' %}"><button>DESCARGAR</button></a>
                <div class="separador"></div>

                <h2 style="color:#ac2765; margin-right: 90px; margin-left: 90px;">C., H C. HEREDEROS DE D. J. C. S/DIVISIÓN DE CONDOMINIO - PERSPECTIVA DE GÉNERO EN UNION CONVIVENCIAL</h2>
                <br>
                <P style="color:#ac2765; margin-right: 90px; margin-left: 90px;">Fallo de la Cámara de Apelaciones en lo Civil y Comercial de Morón</P>
                <a href="{% static 'web/assets/division_condominio_perspectiva_genero.doc.pdf' %}"><button>DESCARGAR</button></a>
                <div class="separador"></div>

                <h2 style="color:#ac2765; margin-right: 90px; margin-left: 90px;">R., M. C. vs. J., J. L. s. DAÑOS Y PERJUICIOS EXTRACONTRACTUAL.</h2>
                <br>
                <P style="color:#ac2765; margin-right: 90px; margin-left: 90px;">Fallo de C 2ª CC Sala II, La Plata, Buenos Aires; 14/07/2020. Sumarios de la sentencia: Responsabilidad civil - Violencia contra la mujer - Perspectiva de género -Medida complementaria - Programa "Desaprender" - Abordaje grupal psico- socio - educativo para hombres que ejercen violencia - Obligación de concurrir a talleres sobre perspectiva de género.</P>
                <a href="{% static 'web/assets/fallo_violencia_mujer_baldosa_Rubinzal.pdf' %}"><button>DESCARGAR</button></a>
                <div class="separador"></div>

                <h2 style="color:#ac2765; margin-right: 90px; margin-left: 90px;">GUÍA DE ESTÁNDARES CONSTITUCIONALES Y CONVENCIONALES PARA LA INVESTIGACIÓN DE MUERTES VIOLENTAS DE MUJERES POR RAZONES DE GÉNERO</h2>
                <br>
                <P style="color:#ac2765; margin-right: 90px; margin-left: 90px;">Suprema Corte de Justicia de la Nación</P>
                <a href="{% static 'web/assets/Guia_mujeres_revision.pdf' %}"><button>DESCARGAR</button></a>
                <div class="separador"></div>

                <h2 style="color:#ac2765; margin-right: 90px; margin-left: 90px;">LOAYZA TAMAYO VS. PERÚ</h2>
                <br>
                <P style="color:#ac2765; margin-right: 90px; margin-left: 90px;">Caso ante la Corte Interamericana de Derechos Humanos</P>
                <a href="{% static 'web/assets/loayzatamayo.pdf' %}"><button>DESCARGAR</button></a>
                <div class="separador"></div>

                <h2 style="color:#ac2765; margin-right: 90px; margin-left: 90px;">PEROZO Y OTROS VS. VENEZUELA</h2>
                <br>
                <P style="color:#ac2765; margin-right: 90px; margin-left: 90px;">Caso ante la Corte Interamericana de Derechos Humanos</P>
                <a href="{% static 'web/assets/perozo.pdf' %}"><button>DESCARGAR</button></a>
                <div class="separador"></div>

                <h2 style="color:#ac2765; margin-right: 90px; margin-left: 90px;">ALTUVE, CARLOS ARTURO S/RECURSO EXTRAORDINARIO DE INAPLICABILIDAD DE LA LEY EN CAUSA N° 87.316 DEL TRIBUNAL DE CASACIÓN PENAL - FEMICIDIO - PERSPECTIVA DE GÉNERO</h2>
                <br>
                <P style="color:#ac2765; margin-right: 90px; margin-left: 90px;">Fallo de la Suprema Corte de Justicia de la Provincia de Buenos Aires</P>
                <a href="{% static 'web/assets/perspectiva_genero_EN_CONTEXTO_fallo_penal_SCBA.doc.pdf' %}"><button>DESCARGAR</button></a>
                <div class="separador"></div>

                <h2 style="color:#ac2765; margin-right: 90px; margin-left: 90px;">ROSENDO CANTÚ Y OTROS VS. MÉXICO</h2>
                <br>
                <P style="color:#ac2765; margin-right: 90px; margin-left: 90px;">Caso ante la Corte Interamericana de Derechos Humanos</P>
                <a href="{% static 'web/assets/rosendocantu.pdf' %}"><button>DESCARGAR</button></a>
                <div class="separador"></div>

                <h2 style="color:#ac2765; margin-right: 90px; margin-left: 90px;">A.C.T.y.C.S.E. c. G.L.y.F.M. S/ PROTECCIÓN CONTRA LA VIOLENCIA FAMILIAR - GÉNERO</h2>
                <br>
                <P style="color:#ac2765; margin-right: 90px; margin-left: 90px;">Juzgado de Paz de Lobos (Departamento Judicial La Plata). SUMARIO: VIOLENCIA SEXUAL, PSICOLÓGICA Y ECONÓMICA</P>
                <a href="{% static 'web/assets/violencia_juzgado_Lobos_economica__de_genero_sexual.doc.pdf' %}"><button>DESCARGAR</button></a>
                <div class="separador"></div>

                <h2 style="color:#ac2765; margin-right: 90px; margin-left: 90px;">A.C.T.y.C.S.E. c. G.L.y.F.M. S/ PROTECCIÓN CONTRA LA VIOLENCIA FAMILIAR - GÉNERO</h2>
                <br>
                <P style="color:#ac2765; margin-right: 90px; margin-left: 90px;">Juzgado de Paz de Lobos (Departamento Judicial La Plata). SUMARIO: VIOLENCIA SEXUAL, PSICOLÓGICA Y ECONÓMICA</P>
                <a href="{% static 'web/assets/violencia_juzgado_Lobos_economica__de_genero_sexual.doc.pdf' %}"><button>DESCARGAR</button></a>
                <div class="separador"></div>

                <h2 style="color:#ac2765; margin-right: 90px; margin-left: 90px;">LEGÍTIMA DEFENSA Y GÉNERO</h2>
                <br>
                <P style="color:#ac2765; margin-right: 90px; margin-left: 90px;">Una cartografía de la jurisprudencia Argentina - Julieta DiCorleto</P>
                <a href="{% static 'web/assets/Legítima Defensa en casos de violencia de género - Di Corleto.pdf' %}"><button>DESCARGAR</button></a>
                <div class="separador"></div>

                <h2 style="color:#ac2765; margin-right: 90px; margin-left: 90px;">JOCKEY CLUB ASOCIACION CIVIL c/ IGJ EXPTE 354552/9379158
                    s/RECURSO DIRECTO A CAMARA</h2>
                <br>
                <P style="color:#ac2765; margin-right: 90px; margin-left: 90px;">Poder Judicial de la Nación</P>
                <a href="{% static 'web/assets/Fallo Jockey - + mujeres.pdf' %}"><button>DESCARGAR</button></a>
                <div class="separador"></div> -->


       
         
    

        
</section>  
    

    


{% endblock %}

 <!-- {% for post in posts %} -->
    <!-- {% endfor %} -->

                    <!-- {{post.titulo}}
                {{post.descripcion}} -->
<!--           
                {{post.field.url}}       -->