{% extends "ProyectoMujeresApp/base.html" %}
{% load static %}
{% block content %}
        <h2 class="titulo"> TRABAJAMOS CON </h2>
        <section class="container">
        <a href="https://www.salta.gob.ar/organismos/ministerio-de-seguridad-y-justicia-6" class="min-seg"><img src="{% static 'ProyectoMujeresApp/ASSETS//logo_ministerio_de_seguridad__1_-removebg-preview.png'%}" class="min-seguridad"></a>
        <a href="https://www.escuelampsalta.gob.ar/"><img src="{% static 'ProyectoMujeresApp/ASSETS//Escuela_del_MPS-removebg-preview.png'%}" class="escuela-ministerio"></a>
           
        </section>
        
           
        
    
    
    
    
    
    <section>
        <h2 class="titulo"> BENEFICIOS </h2>
        <div class="image-beneficios">
          <img class="imagenes-beneficios" src="{% static 'ProyectoMujeresApp/ASSETS/keep.png'%}"  >
          <img class="imagenes-beneficios" src="{% static 'ProyectoMujeresApp/ASSETS/verde.png'%}"  >
          <img class="imagenes-beneficios" src="{% static 'ProyectoMujeresApp/ASSETS/juegueteria.png'%}"  >
          <img class="imagenes-beneficios" src="{% static 'ProyectoMujeresApp/ASSETS/am.png'%}"  >
          <img class="imagenes-beneficios" src="{% static 'ProyectoMujeresApp/ASSETS/aime.png'%}"  >
        </div>
    </section>

    
   
    {% endblock %}