{% extends "web/base.html" %}
{% load static %}
{% block content %}

<h2 class="titulo"> CLASES GRABADAS </h2>
<div class="video">
    <h3 class="h3video"> CONTROL DE CONVENCIONALIDAD Y OBLIGATORIEDAD DE LOS TRATADOS INTERNACIONALES. </h3>
        <p>Dr. Ignacio Colombo Murua</p>

<iframe width="560" height="315" src="https://www.youtube.com/embed/JSp0KvyCqoA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>

<div class="video">
    <h3 class="h3video"> PERSPECTIVA DE GÉNERO EN LA JUSTICIA </h3>
        <p>Dra. Gabriela Yuba</p>

        <iframe width="560" height="315" src="https://www.youtube.com/embed/a-kARc378d8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>

<div class="video">
    <h3 class="h3video"> PERSPECTIVA DE GÉNERO EN LA EJECUCIÓN PENAL. </h3>
        <p>Dras. Lucía Gallagher y Larisa Zerbino </p>

        <iframe width="560" height="315" src="https://www.youtube.com/embed/gY0ckAkhzKE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>







{% endblock %}