{% extends "web/base.html" %}
{% load static %}
{% block content %}
        <h2 class="titulo--"> TRABAJAMOS CON </h2>
        <section class="container">
        <a href="https://www.salta.gob.ar/organismos/ministerio-de-seguridad-y-justicia-6" class="min-seg"><img src="{% static 'web/assets//logo_ministerio_de_seguridad__1_-removebg-preview.png'%}" class="min-seguridad"></a>
        <a href="https://www.escuelampsalta.gob.ar/"><img src="{% static 'web/assets//Escuela_del_MPS-removebg-preview.png'%}" class="escuela-ministerio"></a>
           
        </section>
       
           
       
   
   
   
   
   
    <section>
        <h2 class="titulo--"> BENEFICIOS </h2>
        <div class="image-beneficios">
          <img class="imagenes-beneficios" src="{% static 'web/assets/keep.png'%}"  >
          <img class="imagenes-beneficios" src="{% static 'web/assets/verde.png'%}"  >
          <img class="imagenes-beneficios" src="{% static 'web/assets/juegueteria.png'%}"  >
          <img class="imagenes-beneficios" src="{% static 'web/assets/am.png'%}"  >
          <img class="imagenes-beneficios" src="{% static 'web/assets/aime.png'%}"  >
          <img class="imagenes-beneficios" src="{% static 'web/assets/sietelunas.png'%}"  >
        </div>
    </section>
 
   
   
    {% endblock %}
 
