{% extends "web/base.html" %}
{% load static %}
{% block content %}
 
<div class="slides">
    <div class="slide">
   
    </div>
 
 
    <div class="slide-2">
        <img src="{% static 'web/assets/3397973.jpg'%}" alt="imagenss" class="slide-image">
    </div>
 
</div>
 
<div class="separador"></div>
 
<h2 class="titulo"> EJES DE TRABAJO </h2>
 
<section class="container__card">
    <div class="card">
        <img src="{% static 'web/assets/igualdad.png'%}" alt="iconoimage" class="icono-image">
           
            <h2>EDUCACIÓN PARA LA EQUIDAD</h2>
 
            <p>Impulsando y promoviendo la igualdad de oportunidades entre mujeres y hombres a través del sistema educativo contribuyendo a la concientización, prevención y erradicación de la violencia de género.</p>
 
       
    </div>
 
    <div class="card">
            <img src="{% static 'web/assets/ley.png'%}" alt="iconoimage" class="icono-image">
            <h2>CONSOLIDAR</h2>
      <br>
 
            <p> El acceso efectivo a la justicia de los sectores mas vulnerables, evitando una interpretación y aplicación estereotipada del derecho, coordinando cauces de colaboración institucional para promover e impulsar las politicas de igualdad en el ambito estatal.
            </p>
 
       
    </div>
 
    <div class="card">
        <img src="{% static 'web/assets/megafono.png'%}" alt="iconoimage" class="icono-image">
            <h2>PROMOVER EL EMPODERAMIENTO</h2>
     
 
            <p>De mujeres y miembros de la comunidad LGBTIQ+ tendiente a la deconstrucción de los procesos que conducen a conductas violentas por parte de individuos que ocupan lugares de poder, brindando asesoramiento, acompañamiento y contención.</p>
 
       
    </div>  
     
     
</section>  
<div class="separador-"></div>
 
 
<div class="separador2">
    <h2>"Ignoramos nuestra verdadera estatura hasta que nos ponemos de pie" </h2>
    <h3>-Emily Dickinson</h3>
</div>
 
<div class="separador-"></div>
 
 
 
   
 
   {% endblock %}
